<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO: make adventure appear here.</title>
    <script>

        function edit(type, nr) {
            // getting by id doesn't work because later on there will be multiple buttons.
            document.getElementById("submitbutton " + type).value = "new " + type + nr;
            console.log(document.getElementById("submitbutton " + type).value);
            console.log('edit object.');
            console.log(type);
            console.log(nr);
            setTimeout(function(){
                // form being submitted this way is empty. why?
                // document.getElementById("form").submit();
                document.getElementById("submitbutton " + type).click()
            }, 1000);
        }
    </script>
</head>
<body>
    {{ adventure }}
    <br>

    <form method="POST" id="form" action="/write_object">
        {{ new_buttons}}
    </form>
</body>
</html>